<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.FriendLinkMapper">
        <select id="getFriend" resultType="com.example.demo.pojo.FriendLink">
            select * from friendlink
        </select>

    <update id="updateFriend">
        update friendlink
        set name=#{name}, url = #{url}
        where id =#{id}
    </update>

    <delete id="deleteFriend">
        delete from friendlink
        where id = #{id}
    </delete>

    <insert id="addFriend">
        insert into friendlink(name, url, time)
        values(#{name},#{url},#{time})
    </insert>
</mapper>