<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.LiuyanMapper">
    <select id="getLiuyan" resultType="com.example.demo.pojo.Liuyan">
        select * from liuyan
    </select>

    <insert id="addLiuyan">
        insert into liuyan(username, content, time)
        values(#{username},#{content},#{time})
    </insert>
</mapper>