<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.TagMapper">
    <select id="haveTag" resultType="com.example.demo.pojo.Tag" >
        select * from tag
        where name = #{name}
    </select>

    <insert id="addTag" parameterType="string">
        insert into tag(name)
        values(#{name})
    </insert>

    <select id="getAllTags" resultType="com.example.demo.pojo.Tag">
        select * from tag
    </select>

    <delete id="deleteTag" parameterType="String">
        delete from tag where name=#{name}
    </delete>
</mapper>