<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.UserMapper">
    <select id="getUser" resultType="com.example.demo.pojo.User">
        select * from user
        where username=#{username} AND password=#{password}
    </select>

    <select id="getUserById" resultType="com.example.demo.pojo.User">
        select * from user
        where id = #{id}
    </select>

    <update id="updateUserbackground">
        update user
        set userbackground = #{userbackground}
        where id = #{id}
    </update>

    <update id="updateUserStyle">
        update user
        set userstyle=#{userstyle}
        where id = #{id}
    </update>

    <insert id="addUser">
        insert into user(username,password)
        values(#{username},#{password})
    </insert>

    <select id="getUserByUsername" resultType="com.example.demo.pojo.User">
        select * from user where username = #{username}
    </select>
</mapper>